<div class="row g-0">
  <div class="col-md-4">
    <img [src]="dish.image" alt="dish image" />
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h6 class="card-title ms-1 mt-3">{{ dish?.title }}</h6>
      <p [title]="dish?.summary" class="mt-2 card-text">
        <small class="ms-1 text-muted">{{ dish.summary.slice(0, 400) }}... </small>
      </p>
      <!-- Expandible -->
      <div class="d-flex flex-column position-relative pt-4 pb-5">
        <a
          class="position-absolute bottom-0 start-0 ms-2 mb-2 btn btn-dark"
          #expandLink
          (click)="expandLinkText(expandLink)"
          href=""
          data-bs-toggle="collapse"
          href="#details{{ index }}"
          aria-expanded="false"
          >More information</a
        >
        <div id="details{{ index }}" class="collapse">
          <table class="table">
            <tbody>
              <tr>
                <th>Price per serving</th>
                <td>${{ dish?.pricePerServing }}</td>
              </tr>
              <tr>
                <th>Health score</th>
                <td>{{ dish?.healthScore }} points</td>
              </tr>
              <tr>
                <th>Ready in</th>
                <td>{{ dish?.readyInMinutes }} minutes</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
