<div class="row g-0">
  <div class="col-md-4">
    <img [src]="dish.image" class="dish-pic" alt="..." />
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h6 class="card-title">{{ dish.title }}</h6>
      <p [title]="dish.summary" class="card-text">
        <small class="text-muted">{{ dish.summary.slice(0, 100) }}... </small>
      </p>


        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          More Info
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="staticBackdrop"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  Meal Information
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <p class="card-text">
                  <small class="text-muted"
                    >Price: {{ dish.pricePerServing | currency }}
                  </small>
                </p>
                <p class="card-text">
                  <small class="text-muted"
                    >Preparation Time: {{ dish.readyInMinutes }} minutes
                  </small>
                </p>
                <p class="card-text">
                  <small class="text-muted"
                    >Health Score: {{ dish.healthScore }}</small
                  >
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin Modal -->
      </div>
    </div>
  </div>
